html {
  height: 100%;
  width: 100%;
  font-family: "Titillium Web", sans-serif;
}

body {
  min-height: 100%;
  min-width: 100%;
  background: linear-gradient(#cccccc, rgb(18, 29, 88));
}

button {
  font-size: 7px;
}

#main-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.3);
  padding: 15px 20px 18px 18px;
  border-radius: 5px;
  box-shadow: 2px 5px 5px #333;
}

#list {
  width: 70%;
  margin: 10px;
  background: rgba(255, 255, 255, 0.75);
  padding: 15px 20px 18px 18px;
  border-radius: 5px;
  box-shadow: 2px 5px 5px #333;
}


#select-options {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

select {
  width: 100px;
  height: 30px;
  margin: 8px;
  border: none;
  border-radius: 5px;
}

#form input{
  height: 30px;
  border: none;
  border-radius: 3px;
  margin: 10px;
}